<p>the range or distance over which one can hear or be heard</p>

<h2>What</h2>
<ul>
  <li>Electroacoustic Research</li>
  <li>Surround Sound Recording</li>
  <li>Sound Engineering</li>
</ul>

<h2>we are working on:</h2>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-folder fa-lg main-list-item-icon"></span>
    <a href="./stone">S.T.ONE</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-folder fa-lg main-list-item-icon"></span>
    <a href="./tetrarec">Tetrahedral Recording</a>
  </li>
</ul>

<p>write <a href="mailto:info@earshot.xyz">us</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/earshot-xyz">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://giuseppesilvi.com">Giuseppe Silvi</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-bomb fa-lg main-list-item-icon"></span>
    <a href="mailto:info@earshot.xyz">Mail US</a>
  </li>
</ul>
