<h1>EARShot</h1>

<h2>What</h2>
<ul>
  <li>Electroacoustic Research</li>
  <li>Surround Sound Recording</li>
  <li>Sound Engineering</li>
</ul>

<p>write us, <a href="mailto:info@earshot.xyz">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/earshot-xyz">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://giuseppesilvi">The Author</a>
  </li>
</ul>
