<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://giuseppesilvi.com">Giuseppe Silvi</a>
  </li>

  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/earshot-xyz">GitHub page</a>
  </li>

  <li class="main-list-item">
    <span class="fa fa-bomb fa-lg main-list-item-icon"></span>
    <a href="mailto:info@earshot.xyz">email</a>
  </li>
</ul>
