<h2>S.T.ONE</h2>

<div class="tagline-description"><p>punti di ascolto elettroacustici omnidirezionali</p></div>

<ul class="description-list">
  <li>
    <span>S.T.ONE è un altoparlante tetraedrico ovvero di quattro facce triangolari e permette l'irradiazione del suono in tutte le direzioni dello spazio. </span>
  </li>
  <li>
    <span>Si può dire quindi che è una sorgente omini-direzionale così come gran parte delle sorgenti naturali. </span>
  </li>
  <li>
    <span>AL pari degli strumenti musicali tradizionali, S.T.ONE offre le sue peculiarità alla composizione musicale come elementi strutturali. </span>
  </li>
  <li>
    <span>Uno strumento versatile, utilizzabile in un impianto di carattere installativo quanto esecutivo, S.T.ONE ridefinisce il rapporto tra diffusore elettro acustico e strumento musicale tradizionale, in un connubio di immagini sonore equilibrate e multi-direzionali.</span>
  </li>
</ul>

<!--
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-folder fa-lg main-list-item-icon"></span>
    <a href="./stone">S.T.ONE</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-folder fa-lg main-list-item-icon"></span>
    <a href="./tetrarec">Tetrahedral Recording</a>
  </li>
</ul>
-->

<hr />
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/earshot-xyz">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://giuseppesilvi.com">Giuseppe Silvi</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-bomb fa-lg main-list-item-icon"></span>
    <a href="mailto:info@earshot.xyz">Mail US</a>
  </li>
</ul>
