<article>
  <h2>S.T.ONE</h2>

  <h4>punti di ascolto elettroacustici omnidirezionali</h4>

    <p>S.T.ONE è un altoparlante tetraedrico ovvero di quattro facce triangolari e permette l'irradiazione del suono in tutte le direzioni dello spazio. </p>

    <p>Si può dire quindi che è una sorgente omini-direzionale così come gran parte delle sorgenti naturali. </p>

    <p>Al pari degli strumenti musicali tradizionali, S.T.ONE offre le sue peculiarità alla composizione musicale come elementi strutturali. </p>

    <p>Uno strumento versatile, utilizzabile in un impianto di carattere installativo quanto esecutivo, S.T.ONE ridefinisce il rapporto tra diffusore elettro acustico e strumento musicale tradizionale, in un connubio di immagini sonore equilibrate e multi-direzionali. </p>

    <img src="images/05_STONE-60.jpg" width="512"/>

</article>

<hr />
<hr />

{% if site.earshot.include_footer %}
{% include footer.html %}
{% endif %}
